body{color:#343838;}
a{transition: background 1s ease 0s !important; }
button{transition: background 2s ease 0s !important; }
body .size.large{font-size: 4em;}
body .size.big{font-size: 1.5em;}
body .color.black{color:#000 !important;}
body > footer .internet {max-height: 70px;}
body .bck.entry.active{background:rgba(0,0,0,0.15); padding:10px; line-height:26px;}
body .bck.entry.active{background:rgba(0,0,0,0.15); padding:10px;}
body .button.small.lupa{margin-top:4px;margin-left:10px;min-height:35px;}
body .text.lowercase{ text-transform: lowercase; }
body .text.padding5{ padding:5px; }

body .no-margin{margin:0 !important;}

/*body .bck.light{background: #95B79C}*/
body .bck.color{background: #000}
body .bck.dark,body .bck.darkest{background: #DC1127}
body .bck.theme{background: #E64B34}



body .color.white{color:#fff !important}
body .color.theme{color:#002EA7 !important}
body a.color.theme{color:#002EA7 !important}
body .color.theme:hover{background:#000 !important}
body .color.default{color:#000 !important}

body .bck.color,body .bck.dark{color:#152B3C;}
body .bck.color hr,body .bck.dark hr{background:#415b75;background:rgba(0,0,0,0.2)}
body .bck.color a,body .bck.dark a{color:#fff;}
body .bck.color a.active,body .bck.dark a.active{color:#fff !important}

body nav[data-tuktuk=menu] > a.active .icon,
body:not(.color):not(.dark) a { color:#002EA7 }
body:not(.color):not(.dark) a:not(.button):hover,body:not(.color):not(.dark) a:not(.button):active{color:#002EA7;}
body .button:not(.transparent),body button:not(.transparent){background:#152B3C;}
body nav[data-tuktuk=menu] > a{background:rgba(0,0,0,0.05)}
body nav[data-tuktuk=menu] > a:hover{background:rgba(0,0,0,0.01)}


body form input[type="text"]:focus,body .form input[type="text"]:focus,body form input[type="password"]:focus,body .form input[type="password"]:focus,body form input[type="date"]:focus,body .form input[type="date"]:focus,body form input[type="datetime"]:focus,body .form input[type="datetime"]:focus,body form input[type="email"]:focus,body .form input[type="email"]:focus,body form input[type="number"]:focus,body .form input[type="number"]:focus,body form input[type="search"]:focus,body .form input[type="search"]:focus,body form input[type="tel"]:focus,body .form input[type="tel"]:focus,body form input[type="time"]:focus,body .form input[type="time"]:focus,body form input[type="url"]:focus,body .form input[type="url"]:focus,body form select:focus,body .form select:focus,body form textarea:focus,body .form textarea:focus{border-color:#152B3C;}

blockquote {font-family: monospace;border-left: 5px solid #666;padding-left: 10px;margin: 10px;}
