html,
body{
  width:100%;
  overflow-x:hidden;
  color: #0f0;
  background: #000;
}

header {
  background: url('cyberpunknetar.gif') center center no-repeat;
  display:block;
  height: 50px;
}

header h1 {
  display:none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
sup::before {
  content: "(";
}
sup::after {
  content: ")";
}
