@font-face {
  font-family: 'TopazPlus_a1200';
  src: url('/assets/fonts/TopazPlus_a1200.woff2') format('woff2'),
  url('/assets/fonts/TopazPlus_a1200.woff') format('woff'),
  url('/assets/fonts/TopazPlus_a1200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

html,
body{
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
  width:100%;
  overflow-x:hidden;
  color: #bbb;
  background: #000;
}

header {
  background: url("images/cyberpar.png") center center no-repeat;
  display:block;
}

header h1 {
  display:none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
sup::before {
  content: "(";
}
sup::after {
  content: ")";
}

a {
  color: #bbb;
}


a:hover {
  font-style: italic;
}

p {
  width: 90%;
  margin: auto;
}
/*
p::before,
p::after{
  content: url('holoskull.gif');
  height:50px;
  padding:25px;
}

hr {
  padding:10px;
  background: url("fire.gif") center center no-repeat;
  border:0px;
  height:50px;
}

footer {
  background: url("any_browser_computer.gif") bottom center no-repeat;
  border:0px;
  height:50px;
  width:90%;
  text-align:center;
  padding:50px;
}
*/
