html,
body{
  width:100%;
  overflow-x:hidden;
}

.ramone{
  -webkit-animation: marky 23s linear infinite;
  -moz-animation: marky 23s linear infinite;
  animation: marky 23s linear infinite;
  padding:0 66px;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align:right;
}

@-webkit-keyframes marky {
  from { transform: translate(100%, 0);  }
  to { transform: translate(-100%, 0%); }
}
@-moz-keyframes marky {
  from { transform: translate(100%, 0);  }
  to { transform: translate(-110%, 0%); }
}
@keyframes marky {
  from { transform: translate(100%, 0);  }
  to { transform: translate(-110%, 0%); }
}
